<div class="background">
  <div class="img">
   <%= image_tag("BG.png", width: "100%", height: "auto") %>
  </div>
    <div class="pic-content text-center">
      <div class="pic-text">
      <h1>HAILWYDYS</h1>
      <p>lblabliblablabla</p>
      </div>
      <div class="bouton-perso">
    <%= link_to about_path, class: "custom-link" do %>
        <p class="p-in-btn">DÉCOUVRIR</p>
      </div>
    <% end %>
    </div>
</div>
  <div class="background">
    <div class="img">
    <%= image_tag("BG-2.png", width: "100%", height: "auto") %>
    </div>
      <div class="pic-content text-center">
        <h1>HAILWYDYS</h1>
        <p>ahahahaahahahahahahahahahahahahaha</p>
        <div class="bouton-perso ">
          <p class="p-in-btn">S'S/24</p>
        </div>
      </div>
  </div>
