@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 0;
}

p {
  font-family: 'Arimo', sans-serif;
  margin-bottom: 0;
}
